.nav-div{background-color: rgb(158, 158, 158);}
.nav-button {
    background-color: #5b4caf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.nav-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #5e4caf;
}
