body {
    background-color: rgb(236, 236, 236);
}

.body {
    justify-content: center;
    align-items: center;
}

.loginHeader {
    text-align: center;
}

.loginFormDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}